<!-- Card deck -->


<div align="center">
    <H1> PySAL Library</H1>    
</div>


  <div class="card-deck" style="width: 85rem;margin:0 auto;">
  <div class="card" >
    <img class="card-img-top" src="/download.png" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Explore</h3>
      <p class="card-text">Modules to conduct exploratory analysis of spatial and spatio-temporal data, including statistical testing on points, networks, and polygonal lattices. Also includes methods for spatial inequality and distributional dynamics.</p>
    </div>
    <div class="card-footer">
      <button onclick="location.href='/about'" class="btn btn-warning btn-sm" style="color:white;margin:auto;display:block"> View Packages
      </button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/download.png" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Lib</h3>
      <p class="card-text">Core spatial data structures, file IO. Construction and interactive editing of spatial weights matrices & graphs. Alpha shapes, spatial indices, and spatial-topological relationships.</p>
    </div>
    <div class="card-footer">
       <button class="btn btn-warning btn-sm" style="color:white;margin:auto;display:block"> View Packages
       </button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/download.png" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Model</h3>
      <p class="card-text">Estimation of spatial relationships in data with a variety of linear, generalized-linear, generalized-additive, and nonlinear models.</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-warning btn-sm" style="color:white;margin:auto;display:block"> View Packages
      </button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/download.png" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Viz</h3>
      <p class="card-text">Visualize patterns in spatial data to detect clusters, outliers, and hot-spots.</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-warning btn-sm" style="color:white;margin:auto;display:block"> View Packages
      </button>
    </div>
  </div>
</div>